
<section id="services" class="our-services-area pt-115">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-9">
        <div class="section-title text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
          <h6 class="sub-title">Bonjour</h6>
          <h4 class="title"><%= current_user.first_name %> <span><%= current_user.last_name %></span></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="our-services-tab pt-30">
          <ul class="nav justify-content-center wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="active" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="true">
                <i class="lni-briefcase"></i> <span>Évènements partagés</span>
              </a>
            </li>
            <li class="nav-item">
              <a id="digital-tab" data-toggle="tab" href="#digital" role="tab" aria-controls="digital" aria-selected="false">
                <i class="lni-bullhorn"></i> <span>Mon Profile</span>
              </a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">

              <div class="row grid">
                <% @event.each do |t| %>
                <div class="col-lg-4 col-sm-6 grid-item apps creative laptop">
                  <div class="single-gallery gallery-masonry mt-30">
                    <div class="gallery-image">
                      <%= image_tag '1.jpg'%>
                    </div>
                    <div class="gallery-icon">
                      <a class="image-popup" href="<%= event_path(t) %>">
                        <span></span>
                      </a>
                    </div>
                  </div>
                </div>
                <%end%>
              </div>

            </div>

            <div class="tab-pane fade" id="digital" role="tabpanel" aria-labelledby="digital-tab">

              <p class="card-text"> Prénom: <%= @user.first_name  %></p>
              <p class="card-text"> Nom : <%= @user.last_name  %></p>
              <p class="card-text"> Description : <%= @user.description  %></p>
              <p class="card-text"><small class="text-muted"> E-mail: <%= @user.email %></small></p>
              <%= link_to "Modifier mes Infos", edit_user_registration_path, class:"btn btn-outline-light my-2 my-sm-0", style:"background-color:white; color:#ED3833; border-color:#ED3833;" %>
              <p style="padding-top:20px;"></p>
              <div style="text-align:left; opacity:50%;">
              <%= form_tag user_avatars_path(@user), multipart: true do %>
                <%= file_field_tag :avatar %>
                <%= submit_tag "Changer d'Avatar", class:"btn btn-outline-info ", style:"margin-top:12px;" %>
              <% end %>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
